<div class="wrapper">

    <div class="box">
        <div class="content" (click)="this.core.onRouter('/store/1/detail/1')">
            <div class="item"></div>
            <div class="price">
                <p>테스트 스토어 물품</p>
                <p><span>19,000원</span></p>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="content" (click)="this.core.onRouter('/store/1/detail/2')">
            <div class="item"></div>
            <div class="price">
                <p>테스트 스토어 물품</p>
                <p><span>19,000원</span></p>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="content" (click)="this.core.onRouter('/store/1/detail/3')">
            <div class="item"></div>
            <div class="price">
                <p>테스트 스토어 물품</p>
                <p><span>19,000원</span></p>
            </div>            
        </div>
    </div>

    <div class="box">
        <div class="content" (click)="this.core.onRouter('/store/1/detail/4')">
            <div class="item"></div>
            <div class="price">
                <p>테스트 스토어 물품</p>
                <p><span>19,000원</span></p>    
            </div>            
        </div>
    </div>

    <div class="box">
        <div class="content" (click)="this.core.onRouter('/store/1/detail/5')">
            <div class="item"></div>
            <div class="price">
                <p>테스트 스토어 물품</p>
                <p><span>19,000원</span></p>
            </div>            
        </div>
    </div>

    <div class="box">
        <div class="content" (click)="this.core.onRouter('/store/1/detail/6')">
            <div class="item"></div>
            <div class="price">
                <p>테스트 스토어 물품</p>
                <p><span>19,000원</span></p>    
            </div>            
        </div>
    </div>

</div>