.wrapper{
    height: 450px;
    color: #fff;
    background-color: #6b6fde;
    text-align: center;
}

img{
    width: 45%;
    height: 45%;
}

.txt{
    padding-top : 5px;
}

@media(max-width: 550px){
    .wrapper{
        height: 400px;
    }

    .txt{
        font-size: 12px;   
    }
}