
.wrapper{
    width: 100%;
    padding-top : 20px;
    padding-bottom: 40px;
    color: #4a4a4a;
    text-align: center;
    margin: auto;
}
.margin{
    margin-top: 25px;
}

.sub{
    height: 300px;
}

@media(min-width: 992px){

    .wrapper{
        width: 992px;
    }

}