<mat-toolbar>

    <button mat-button class="logo-btn">
        <img src="assets/nojum_logo.svg">
        <h1 class="desktop">심플하게 팔자! 노점</h1>
        <h1 class="mobile">심플하게 팔자! 노점</h1>
    </button>
    
    <div class="desktop">
        
        <button mat-button>
            노점 차리기
        </button>

    </div>
    
    <span class="fill-spacer"></span>
    
    <div class="desktop">
        <button mat-button>
            로그인
        </button>
    </div>

    <span class="mobile">
        <button mat-button>
            로그인
        </button>
    </span>

</mat-toolbar>