<div class="wrapper">
    <div class="box">

        <form>
            <img class="field favicon" src="./assets/nojum_logo.svg">

            <div class="field notice">
                <h2>스토어명 찾기</h2>
                <span>휴대폰 번호를 입력하시고 인증번호를 저에게 요청해주세요.</span>
                <!-- <span>인증 번호를 입력하시면 등록된 스토어명을 알려드릴게요.</span> -->
            </div>

            <mat-form-field class="field">
                <input matInput placeholder="휴대폰">                
            </mat-form-field>
            
            <!-- <mat-form-field class="field">
                <input matInput placeholder="인증번호">                
            </mat-form-field> -->

            <button class="field submit" mat-button>인증번호 요청</button>
            <!-- <button class="field submit" mat-button>알려줘</button> -->
        </form>


    </div>
</div>