<div class="wrapper">
    <div class="box">

        <form>
            <img class="field favicon" src="./assets/nojum_logo.svg">

            <div class="field notice">
                <h2>비밀번호 재설정</h2>
                <span>이메일 주소를 입력하시면 초기 비밀번호를 보내드립니다.</span>
            </div>

            <mat-form-field class="field">
                <input matInput placeholder="Email">                
            </mat-form-field>

            <button class="field submit" mat-button>전송</button>
        </form>


    </div>
</div>