<div class="wrapper">
    <div class="box">

        <form>
            <img class="field favicon" src="./assets/nojum_logo.svg">
            <mat-form-field class="field">
                <input matInput placeholder="스토어명">
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput placeholder="인증번호" type="password">
            </mat-form-field>
            
            <div class="field notice">
                <span (click)="this.core.onRouter('/reset')" >스토어명을 잊으셨나요?</span>
            </div>

            <button class="field submit" (click)="this.core.onRouter('/main')" mat-button>로그인</button>

        </form>


    </div>
</div>