<div class="wrapper">
  <div class="demo-border">
      <div class="demo-one" (mouseenter) ="listHover(true)" (mouseleave) ="listHover(false)" drag-scroll drag-scroll-disabled="true" scrollbar-hidden="true" snap-disabled="true" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)" #nav>
          <div class="box" *ngFor="let image of imagelist let i = index">
                
                <div class="content" (click)=" this.core.onRouter('/store/'+(i+1) )">
                    <div class="content-img"></div>

                </div>
                
          </div>
      </div>
  </div>
</div>