<div class="wrapper">
    <div class="box">
  
        <form>
            <div class="field favicon"></div>

            <div class="field notice">
                <h2>구매하기</h2>
                <p>물품 가격<label>19,000원</label></p>
                <p>신용 정보<label>인증 완료(연락처, 페이스북, 인스타그램)</label></p>
                <p>구매 회신<label>한시간 이내</label></p>                
            </div>
            
            <div class="field btn">
                <button class="submit conntact" mat-button>연락하기</button>
                <button class="submit cart" mat-button>담기</button>
            </div>
        </form>
  
  
    </div>
  </div>