.wrapper{
    height: 400px;
    color: #4a4a4a;
    /* color: #fff; */
    /* background-color: #7560E0; */
    text-align: center;
}

img{
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.txt{
    padding-top : 5px;
}

@media(min-width: 550px){

}