<div class="wrapper">

    <mat-tab-group color="basic">

        <mat-tab label="상세설명">
            <div class="margin"></div>
            <app-store-detail-info-item></app-store-detail-info-item>
            <app-store-detail-info-item></app-store-detail-info-item>
            <app-store-detail-info-item></app-store-detail-info-item>
            <app-store-detail-info-item></app-store-detail-info-item>
            <app-store-detail-info-item></app-store-detail-info-item>

        </mat-tab>

        <mat-tab label="추가정보">
            <div class="sub"></div>
        </mat-tab>
        
    </mat-tab-group>

</div>